@media (max-width: 9999999999px){
    .logo{
        margin-bottom: -4px;
    }
    .logo img{
        width: 116px;
    }
    .section{
        padding: 40px 0;
    }
    .section{
        height: auto!important;
    }
    .main-section{
        padding: 0 !important;
    }
    .main-section__in{
        background-position: center top;
        padding-top: 180px;
    }
    .result-list__wrap{
        display: none;
    }
    .result-section .wrapper{
        max-width: 100%;
    }
    .alert-telegram{
        padding: 8px 80px 8px 15px;
    }
    .alert-telegram__close{
        right: 11px;
    }
    .join-section .wrapper{
        padding-top: 0;
    }
    .header{
        background: rgba(0,0,0,.6);
        padding: 6px 0 4px 8px;
        position: absolute;
    }
    .header-social{
        padding: 9px 6px 0 0;
    }
    .main-section .col-8,
    .main-section .col-4,
    .main-section .col-12{
        width: auto;
        float: none;
    }
    .main-section__video{
        width: 100%;
        max-width: 500px;
        height: 400px;
        margin: 0 auto;
        position: relative;
    }
    .result-item{
        position: static;
    }
    .block-title{
        font-size: 42px;
        text-align: center;
    }
    .main-section__content{
        width: auto;
        float: none;
    }
    .block-title:after{
        display: none;
    }
    .wrapper{
        max-width: 680px;
        margin: 0 auto;
        text-align: center;
    }
    .main-invite > div{
        margin-right: 0;
        margin-left: 0;
        display: block;
    }
    .main-invite > div.main-invite__arrow{
        display: none;
    }
    .main-invite__text{
        margin: 18px 0 0;
    }
    .profit-tabs__left,
    .profit-tabs__content{
        width: auto;
        float: none;
    }
    .profit-tabs__content{
        display: none;
    }
    .modal-profit__block{
        margin-top: 18px;
    }
    li.profit-tabs__nav-item.active .profit-tabs__nav-link{
        background: none;
        padding: 0;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    .profit-tabs__nav-link{
        background: rgba(255,255,255,.1);
        min-height: 0;
        padding: 12px 14px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    li.profit-tabs__nav-item{
        width: 50%;
        margin: 0 0 8px;
        padding: 0 4px;
        float: left;
    }
    .join-left{
        padding-top: 0;
    }
    .working-list .row{
        font-size: 0;
        text-align: center;
    }
    .working-list .col-2{
        width: 50%;
        float: none;
        display: inline-block;
        vertical-align: top;
    }
    .working-item{
        margin-bottom: 24px;
    }
    .working-bottom{
        margin-top: 22px;
    }
    .join-block .col-6{
        width: auto;
        float: none;
    }
    .join-desc{
        margin: 34px auto 0 auto;
        line-height: 1.4;
    }
    .join-arrow{
        display: none;
    }
    .join-slider__item img{
        max-height: 320px;
    }
    .join-slider{
        margin: 24px 0 0;
    }
    .profit-tabs__content-item{
        margin-top: 34px;
    }
    .mobile-hidden{display: none;}
    .mobile-visible{display: block;}
    .working-item:after{
        display: none;
    }
    .profit-tabs__content-text{
        margin: 18px 0 0;
        padding: 0;
        text-align: left;
    }
    .profit-tabs__content-text:before,
    .profit-tabs__content-text:after{
        display: none;
    }
    .main-profit__item{
        margin: 6px 4px;
    }
    .main-profit__item + .main-profit__item{
        margin-right: 4px;
    }
    .section-seperator{
        display: block;
    }
    .join-form{
        margin-left: 0;
    }
    .social a{
        display: none;
    }
    .social a.active{
        display: block;
    }
    .result-list{
        background: none;
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .result-item{
        width: 33.33%;
        margin: 0 0 40px;
        padding: 0 10px;
        -webkit-flex-basis: 33.33%;
            -ms-flex-preferred-size: 33.33%;
                flex-basis: 33.33%;
        position: relative;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
    .main-profit__list{

    }
}

@media (max-width: 768px){
    .modal-ob{
        width: 100%;
        display: block;
    }
    .main-profit__list{

    }
}

@media (max-width: 580px){
    .header .row{
        margin: 0 -5px;
    }
    .header .col-6{
        padding: 0 5px;
    }
    .block-title{
        font-size: 36px;
    }
    .main-desc{
        font-size: 22px;
    }
    .main-step{
        margin: 0 0 14px;
        display: block;
    }
    .join-title,
    .join-amount{
        font-size: 22px;
    }
    .profit-tabs__content-text{
        font-size: 15px;
        line-height: 1.8;
    }
    .working-icon img{
        height: 90px;
    }
    .section{
        background-attachment: fixed;
    }
    .main-steps{
        margin-top: 42px;
    }
    .working-bottom span{
        font-size: 24px;
    }
    .icon-chrome{
        margin-top: 2px;
        vertical-align: top;
    }
    .result-item{
        width: 50%;
        -webkit-flex-basis: 50%;
            -ms-flex-preferred-size: 50%;
                flex-basis: 50%;
    }
}

@media (max-width: 480px){
    li.profit-tabs__nav-item{
        width: auto;
        display: block;
        float: none;
    }
    .working-item:before{
        font-size: 24px;
        top: 8px;
        left: 10px;
    }
    .working-item{
        padding: 14px 6px 24px 6px;
    }
    .working-icon img{
        height: 80px;
    }
    .working-text{
        margin-top: 12px;
        font-size: 14px;
        line-height: 1.3;
    }
    .block-title{
        font-size: 32px;
        line-height: 1.2;
    }
    .main-desc{
        font-size: 21px;
    }
    .box-modal{
        padding-right: 10px;
        padding-left: 10px;
    }
    .modal-btn__wrapper{
        margin-right: -10px;
        margin-left: -10px;
    }
    .modal-btn{
        padding: 12px 14px;
        font-size: 16px;
    }
    .modal-profit{
        padding-right: 20px;
        padding-left: 20px;
    }
    .main-section__video-link__icon{
        width: 54px;
        height: 54px;
    }
    .main-section__video-link__text{
        font-size: 18px;
    }
    .main-section__video{
        -webkit-background-size: 130% auto;
           -moz-background-size: 130% auto;
             -o-background-size: 130% auto;
                background-size: 130% auto;
        height: auto;
        padding-bottom: 86%;
    }
    .main-section__video-link{
        margin-top: -4%;
    }
    .main-profit__list li{
        display: block;
    }
    .main-profit__list li + li{margin-left: 0;}
}

@media (max-width: 320px){
    
}
